body {
    position: absolute;
    padding: 0%;
    margin: 0%;
    display: block;
}

canvas{
    background: white;
}
.control{

}

.label {
    font-size: 22px;
}

.content {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    

}
.table{
    height: 500px;
    position: absolute;
    left: 1100px;
    top:100px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.control_button{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.button {
    color:black;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    
    height: 50px;
    font-weight: 500;
    padding: 10px;
    background: wheat;
    justify-content: center;
    align-items: center;

}

.button:hover{
    cursor: pointer;
}

.input {
  margin-left: 20px;
  width: 200px;
  height: 50px;
  font-size: 14px;
  color: black;
}

.frac {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  letter-spacing: 0.001em;
  text-align: center;
}
.frac > span {
  display: block;
  padding: 0.1em;
}
.frac span.bottom {
  border-top: thin solid #ffffff;
}
.frac span.symbol {
  display: none;
} 
#func-start {
  margin-right: 10px;
}